BREAKPOINT = 736 //sp max
mn = (100vw / 750)

@import '../modules/base'

// @media screen and (max-width: (BREAKPOINT)px)


.No1
  width (700 * mn)
  margin 0 auto
  background-color #0f0

.main1
  width (342 * mn)
  margin-left auto

.price1
  font-size (27 * mn)
