extends /layout/layout

block data
  -
    page = index

block css
  link(href=CSS_DIR + 'sp.css' rel='stylesheet' type='text/css')

block script
  script(src=JS_DIR + 'index.js' type='text/javascript' charset='UTF-8')

block content
  #home
    .wrapper
      //- No.1
      .No1
        .header
          .vol
            p sp
          .ttl
        .images1
          .main1
            img(src='http://placehold.jp/320x480.png')
          .with
          .with2
        .comment1
          .logo1
          .sentence1
        .sidephoto1
          .main2
          .price1
            p 
              |No.8デニムの強さが強調されすぎないように
              br
              |インナーにレース使い＋足元はヒールと女性らしいアイテム。強調されすぎないように。
        .images2
          .main3
          .main3-1
        .frame1
          .south-forF

      //- No.2
      .No2
        .sidephoto2
          .main3
          .price2
            //- right
        .sidephoto3
          .main4
          .frame2
          
      .No3//- No.3
        .images3
        .sidephoto4
          //- right
        .price3
        .sidephoto5
          //- left
        
        
      .No4 //- No.4
        .wrapper2
        .logo2
        .images4       
          .main5
          .main6
          .with3
        .comment3
          .sentence2
          .price4
      .No5//- No.5
        .logo3
        .images5
          .main7
          .main8
          .with4
        .comment4
          .sentence3
          .price5
    
    .wrapper4
      .No6//- No.6
        .images6
          .main9
        .wrapper3
        .main10
        .sidephoto6
          .price6
          .main11      
      
      .No7//- No.7
        .logo4
        .main11
        .main12
        .price
        .frame3
      
      .No8//- No.8
        .images7
        .with5
        .frame4
          .price7
        .sidephoto7
      
      .logo5
    
    .wrapper5
      .main12
      .frame5
        .sentence4
          .logo6
          .comment5
        .share
          .comment6
          .logo7
          .logo8
      
      .contents
        .images8
          .main12
           .first
           .comment7  
          .main13
           .second
           .comment8
          .main14
           .third
           .comment9
          .main15
           .forth
           .comment10
      
      .main16
        .logo9
        .comment11
        .logo10
        .rink
          .rink1
          .rink2
          .rink3      
        .logo11 
        .comment12 
            
        
    
    
